body {
  font-family: sans-serif;
  background-color: #eeeeee ;
}

#grid {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.pane {
  border: 1px solid lightgray ;
  width: 100vw;
  height: 100vh;
}
.pane > h6 {
  padding:4px
}

.gutter {
  float: left;
  background-color: #eeeeee;
  background-repeat: no-repeat;
}

.gutter-horizontal {
  float: left;
  /*margin-top: 27px;*/
  cursor: ew-resize;
}

.gutter-vertical {
  float: left;
  margin-top: 0px;
  cursor: ns-resize;
}
