body {
  font-family: sans-serif;
}

#grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.pane {
  border: 1px solid;
  width: 100%;
  height: 400px;
}

.gutter {
  float: left;
  background-color: #ccc;
  background-repeat: no-repeat;
}

.gutter-horizontal {
  float: left;
  margin-top: 27px;
  cursor: ew-resize;
}

.gutter-vertical {
  float: left;
  margin-top: 0px;
  cursor: ns-resize;
}

